
/*My classess created be applied where needed to override Bootstrap's styling*/

.my-text-shadow {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5) !important;
}

/* to be experimented with
https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/


/*
Here starts styling for honest.html
*/
.my-container {
  text-align: center;
}

.example1 {

  box-shadow: 0 0 5rem black;
  width: 100px;

  margin: auto;
 
}
/* position verticaly alignedy copied from
https://www.w3schools.com/css/css_align.asp */

.center {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.my-inline-block {
  display: inline-block;
}
.my-text-center {
  text-align: center;
}

.rounded-corners {
  border-radius: 25px;
}
/*My classess to be used to hide elements when the page first load*/


.my-invisible {
    visibility: hidden;
    position: absolute;
  }

